@import "partials/normalize";
@import "partials/variables";
@import "partials/global";
@import "partials/results";
@import "partials/landingPage";
@import "partials/buttons";
@import "partials/mainQuiz";




//Results page
@media (max-width: 1130px) {
	.resultText p {
		font-size: 1.4rem;
	}
}

@media (max-width: 970px) {
	.resultImageWrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		div.resultImage {
			width: 70%;
			max-width: 700px;
			margin: 0 auto;
		}
		p {
			padding: 20px 0px;
			font-size: 17px;
			font-size: 1.7rem;
			margin: 0 auto;
			max-width: 700px;
		}
	}
} 

@media (max-width: 770px) {
	.resultImageWrapper p {
		font-size: 1.3rem;
	}
	.landingPage h1 {
		font-size: 60px;
		font-size: 6rem;
	}
	.main-quiz header h1 {
		font-size: 50px;
		font-size: 5rem;
	}
}

@media (max-width: 650px) {
	body {
		padding: 15px;
	}
	p {
		font-size: 15px;
		font-size: 1.5rem;
		letter-spacing: 1.2px;
	}
	section {
		padding: 5%;
	}
	section.form-container form {
		width: 90%;
		padding-top: 40px;
	}

	section.form-container .question-container {
		padding-bottom: 15px;
		h3 {
			font-size: 50px;
		font-size: 5rem;
		}
	}
	section.form-container .question-container p {
		font-size: 25px;
		font-size: 2.5rem;
	}
	section.form-container .question-container label p {
		font-size: 20px;
		font-size: 2rem;
	}
	button, .submitButton {
		font-size: 30px;
		font-size: 3rem;
	}
}

@media (max-width: 480px) {
	.answer h1 {
		font-size: 5rem;
	}
	.resultImageWrapper p {
		width: 100%;
		padding: 2rem 0;
		font-size: 1rem;
	}
}

@media (max-width: 450px) {
	.landingPage h1 {
		font-size: 50px;
		font-size: 5rem;
	}
	
	.landingPage h2 {
		font-size: 25px;
		font-size: 2.5rem;
	}
}

@media (max-width: 375px) {
	body {
		padding: 20px;
	}
	p {
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 1px;
	}

	.landingPage h1 {
		font-size: 40px;
		font-size: 4rem;

	}
	button, .submitButton {
		font-size: 25px;
		font-size: 2.5rem;
	}
	.submitButton {
		padding: 20px 10px;
		word-spacing: 1.2px;
	}
	section.form-container .question-container {
		padding-bottom: 15px;
		h3 {
		font-size: 5rem;
		}
	}
	section.form-container .question-container p {
		font-size: 2.5rem;
	}
	section.form-container .question-container label p {
		font-size: 15px;
		font-size: 1.5rem;
	}
	.resultImageWrapper {
		width: 100%;
	}
}




